.action-form {
    display: flex;
    flex-direction: column;
    &__label {
        font-size: 10px;
        color: rgba(25, 25, 25, 0.3);
    }
    &__btn {
        margin: 15px 0;
    }

    &__result {
        min-height: 100px;
        color: mix(rgb(54, 11, 11), #e7d5db, 85%);
        font-size: 20px;
        text-align: center;
        font-weight: 900;
        text-shadow: 1px 1px 20px mix(#fff, #2c292a, 94%);
    }
}